# '/' = '/home/darren/ngspice/04__sch/'

# *.sch.cir -    Generated     - Remove
#     *.cir - Manually created - Keep

/\#*.sch#
/*.sch~
/*.sch.cir
/*.v

# KiCAD/Eeschema
/*-cache.lib
/*.pro
/*.sch-bak
/_autosave-*
/fp-info-cache
